body p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #999;
}


/* .navbar
{
    border-bottom: 1px solid #888;
} */

.bg-transparent {
    background: transparent !important ;
}
.bg-transparent.scrolled{
    
    background: #F25454 !important;
}

.navbar .container .navbar-nav li {
    padding: 0 7px;
}
.icon.logo{
    color: #fff;
}
.icon.logo:hover{
    color: #000 !important;;
}
.navbar .container .navbar-nav .home {
    color: #F25454;
}
.navbar .container .navbar-nav .nav-item .nav-link.naaav{
    color: #fff  ;
}
.navbar .container .navbar-nav .nav-item .nav-link.naaav:hover{
    color: #000  ;
}
.navbar .container .navbar-nav li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    font-size: 13px;
}

.navbar .container .navbar-nav li a:hover {
    color: #F25454;
    transition: all .5s;
}

.icon:hover{
    color:#F25454 !important;
    transition: all .5s;
}

/* the end of nav */


/* the start of header  */

header i {
    color: white;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 0;
    position: fixed;
    z-index: 9999;
}

#home .carousel-item .carousel-caption h1 {
    height: 60vh;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    font-size: 70px !important;
    line-height: 1 !important;
    width: 50%;
    margin: auto;
}


/* the end of header  */


/*  the start of about us */

#aboutus {
    background-color: #fff;
}

#aboutus .cap {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 30px;
}

#aboutus .cap h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 50px;
    padding-bottom: 30px;
    position: relative;
}





.progress{
    padding:20px 0px 20px 0px;
    background-color: #fff;
    
}

.progress-bar {
    height: 15px;
    border-radius: 3px;
    background-color: #F25454;
}




/* the end of about us */


/* the start of our team */

#ourteam .cap {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 30px;
}

#ourteam .cap h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 50px;
    padding-bottom: 30px;
    position: relative;
}



#ourteam .container .hov {
    overflow: hidden;
}

#ourteam .container .hov .pic {
    position: relative;
    transition: all 1s;
    border-radius: 5px;
}

#ourteam .container .hov .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background-color: rgba(235, 100, 100, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
    border-radius: 5px;
    margin: 30px;
}

#ourteam .container .hov .overlay i {
    padding: 10px;

    margin-top: 30px;
    color: #fff;
}

#ourteam .container .card:hover .overlay {
    opacity: 1;
}



#ourteam .container .card:hover i {
    margin-top: 0;
}



.card-body {
    text-align: center;
}

.card {
    border: none;
    padding: 30px;
}

.idea .btn a {
    text-decoration: none;
    color: #fff;
}


/* the end of our team */


/* the start of services */

#services {
    background-color: fafafa;
    padding: 50px;
}

#services .cap {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 30px;
}

#services .cap h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 50px;
    padding-bottom: 30px;
    position: relative;
}



#services .crd {
    padding: 20px;
}

#services .crd .iqon {
    padding: 5px 10px 0 0;
    color: #F25454;
}

#services .crd h5 {
    transition: all .5s;
}

#services .crd:hover h5 {
    color: #F25454;
}


/* the end of our services  */

/* the start of  contact us */

#contactus {
    background-color: #fafafa;
}

#contactus .cap {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 30px;
}

#contactus .cap h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 50px;
    padding-bottom: 30px;
    position: relative;
}



#contactus .contacts .info {
    display: flex;
    padding: 10px 20px;
    border-bottom: .25px solid #999;
    margin-bottom: 20px;
}

#contactus .contacts .no {
    border: none;
}

#contactus .contacts .info h3:hover {
    color: #F25454;
    transition: all .5s;
}

#contactus .contacts .info p {
    font-size: 15px;
}

#contactus .contacts .info .iqon {
    color: #F25454;
    margin-right: 20px;
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px 0;
    border: 2px solid #eee;
    border-radius: 5px;
    margin: 20px 0;
}

form textarea {
    width: 100%;
    height: 100px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid #eee;
}


/* the end of our contactus */





/*  the start of footer */

footer {
    background-color: #111111;
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

footer .container a {
    text-decoration: none;
    color: #fff;
}

footer .container a:hover {
    color: #F25454;
    transition: all .5s;
}

footer .container .social i {
    padding: 0 20px;
}

@media (max-width: 768px) {
    #aboutus .cap {
        width: 100%;
    }
    #ourteam .cap {
        width: 100%;
    }
    #services .cap {
        width: 100%;
    }
    #reviews .cap {
        width: 100%;
    }
    #contactus .cap {
        width: 100%;
    }
    #foter .alone .btn {
        position: absolute;
        bottom: 97.5%;
        left: 44%;
    }
}

